/* stylelint-disable */

.advantages {
  outline: 1px solid red;
  .content-container;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  width: 50%;
  color: @color-text-title;
  ;
}

.advantages__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: @color-text-title;
}
