.advantages {
  outline: 1px solid red;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: @color-text-title;
}

.advantages__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: @color-text-title;
}
