/* stylelint-disable */

.catalogue-nav {
  display: flex;
  flex-direction: column;

  height: 480px;
  background-color: #f9f9f9;

}

.catalogue-nav__list {
  .content-container;
  display: flex;
  flex-direction: column;
  margin: auto auto 0;
  padding: 0;
  list-style: none;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.catalogue-nav__link {
  display: block;
  padding: 30px 30px;
  text-decoration: none;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;;

  &:hover {
    padding-bottom: 35px;
  }


  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 50%;
    padding-top: 28px;
    padding-bottom: 38px;
    padding-left: 36px;

    font-size: 19px;
    line-height: 30px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 43px;
    }
  }
}


.catalogue-nav__item {
  margin: auto -50px;
  text-decoration: none;
  &--interior {
    background-color: @cyan;
  }
  &--toys {
    background-color: @cyan--dark;
  }
  @media (min-width: @tablet-width) {
    margin: auto 0;
    flex-grow: 1;
  }
}

.catalogue-nav__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @color-text-title;
}
