/* stylelint-disable */

.catalogue-video {
    display: flex;
    flex-direction: column;
    .content-container;
    @media (min-width: @desktop-width) {
        height: 500px;
        flex-wrap: wrap;
    }
}

.catalogue-video__title {
    @media (min-width: @tablet-width) {
        order: 2;
    }
}

.catalogue-video__video {
    @media (min-width: @tablet-width) {
        order: 1;
    }
    @media (min-width: @desktop-width) {
        width: 500px;
        height: 500px;
    }
}

.catalogue-video__text {
    @media (min-width: @tablet-width) {
        width: 500px;
        order: 3;
    }
}

.catalogue-video__button {
    @media (min-width: @tablet-width) {
        order: 4;
    }
}