/* stylelint-disable */
.catalogue-nav {
    display: flex;
    flex-direction: column;

    width: 320px;
    margin: auto;

    background-image: url('../img/hero-mobile@1x.jpg');
    background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
    .catalogue-nav {
        width: auto;
        margin: 0;
    }
}

.catalogue-nav__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.catalogue-nav__title {
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;

    text-align: center;

    color: @color-text-title;
}

.catalogue-nav__link {
    text-decoration: none;
    &--interior {
        background-color: @cyan;
    }

    &--toys {
        background-color: @cyan--dark;
    }
}
