/* stylelint-disable */
.contacts {
    display: flex;
    flex-direction: column;

    outline: 1px solid orange;

    .content-container;
}



.contacts__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    color: @color-text-title;
}

