/* stylelint-disable */
.main-nav {
    outline: 1px dotted red;

}

.main-nav__toggle {
   @media (min-width: @tablet-width) {
    display: none;
    }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
}



.main-nav__delivery-text {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
    order: 4
    }

}
