/* stylelint-disable */

.main-nav {
  position: relative;
  outline: 1px dotted red;
  width: 320px;
  margin: auto;
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: none;
  background-color: #FFFFFF;
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: 30px;
  left: 22px;
  width: 30px;
  height: 2px;
  content: '';
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, .3), 0 16px 0 0 rgba(255, 255, 255, .3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  &::before,
  &::after {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 30px;
    height: 2px;
    content: '';
    background-color: #000;
  }
  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, .3);
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__delivery-text {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    margin-left: auto;

    order: 4;
  }
}
