/* stylelint-disable */
.page-header {
    outline: 1px solid grey;
    background-color: #fff;
}

.main-header__title {
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;

    text-align: center;

    color: @color-text-title;
}
