/* stylelint-disable */

.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  outline: 1px solid grey;
  background-color: #fff;
  @media (min-width: @tablet-width) {
    .content-container;
  }

}


.page-header__logo-link {
  margin: 27px auto;
  @media (min-width: @tablet-width) {
    width: 167px;
    margin: 0;
    order: 1;
  }
  @media (min-width: @desktop-width) {
    order: 2;
  }
  :hover {
    opacity: 0.3;
  }
}

.page-header__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @color-text-title;
}
