/* stylelint-disable */
.reviews {
    padding-top: 30px;

    outline: 1px solid black;
    .content-container
}

.reviews__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    color: @color-text-title;
}
