/* stylelint-disable */
.site-list {
    outline: 1px solid black;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: @tablet-width) {
        display: flex;
        flex-direction: row;

        order: 3;
    }
    @media (min-width: @desktop-width) {
        display: flex;

        width: 400px;

        flex-wrap: wrap;
        order: 1;
    }
}

.site-list__item {
    &--mobile-hidden {
        display: none;
        @media (min-width: @desktop-width) {
            display: block;
        }
    }
}
