/* stylelint-disable */

.site-list {
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    order: 3;
    width: 400px;
  }
  @media (min-width: @desktop-width) {
    width: 400px;
    flex-wrap: wrap;
    order: 1;
  }
}

.site-list__item {
  @media (min-width: @desktop-width) {
    height: 89px;
    display: flex;
    align-items: center;
  }
  &--mobile-hidden {
    display: none;
    height: 100%;
    @media (min-width: @desktop-width) {
      display: block;
      margin-top: auto;
    }
  }
}

.site-list a {
  font-size: 17px;
  line-height: 24px;
  display: block;
  padding: 28px 28px 28px 76px;
  text-decoration: none;
  color: #000;
  border-top: 1px solid #ccc;
  @media (min-width: @tablet-width) {
    font-size: 15px;
    border: none;
    padding: 0 35px 0 0;
  }
  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.site-list a[href]{
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
