.user-list {
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: @tablet-width) {
        display: flex;
        flex-direction: row;
        order: 2;
    }
    @media (min-width: @desktop-width) {
        order: 3;
    }
}

.user-list__search,
.user-list__basket {
    font-size: 17px;
    line-height: 24px;
    display: block;
    padding: 30px 30px 30px 76px;
    text-decoration: none;
    color: #000;
    border-top: 1px solid #ccc;
    @media (min-width: @tablet-width) {
        padding: 0;
        border-top: none;
    }
}

.user-list__search {
    @media (min-width: @tablet-width) {
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
}

.user-list a[href] {
    &:hover {
        background-color: #755a46;
    }
    &:active {
        color: rgba(255, 255, 255, .3);
        background-color: #6a4d38;
    }
}

.user-list__basket {
    position: relative;
    @media (min-width: @tablet-width) {
        width: 317px;
        padding: 32px 0 32px 85px;
    }
    .user-list__search-basket {
        position: absolute;
        top: 34px;
        left: 51px;
        width: 16px;
        height: 16px;
        opacity: .3;
    }
}

.user-list__search {
    position: relative;
    @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
    }
    .user-list__search--hidden {
        @media (min-width: @tablet-width) {
            display: none;
        }
    }
    .user-list__search-icon {
        position: absolute;
        top: 34px;
        left: 51px;
        width: 16px;
        height: 16px;
        opacity: .3;
    }
}