.user-list {
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    order: 2;
    width: 398px;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.user-list__item--search,
.user-list__item--basket {
  font-size: 17px;
  line-height: 24px;
  display: flex;
  padding: 30px 30px 30px 76px;
  border-top: 1px solid #cccccc;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-top: none;
  }
}

.user-list a[href] {
  text-decoration: none;
  color: #000000;

  &:hover {
    background-color: #755a46;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38;
  }
}

.user-list__item--basket {
  position: relative;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }

  a {
    @media (min-width: @tablet-width) {
      padding-left: 80px;
    }
  }

  .user-list__basket-icon {
    position: absolute;
    top: 34px;
    left: 51px;
    width: 16px;
    height: 16px;
    opacity: 0.3;

    @media (min-width: @tablet-width) {
      position: static;
      margin: auto;
    }
  }
}

.user-list__link {
  display: flex;
}

.user-list__item--search {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 89px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    justify-content: center;
  }

  .user-list__search--hidden {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  .user-list__search-icon {
    position: absolute;
    top: 34px;
    left: 51px;
    width: 16px;
    height: 16px;
    opacity: 0.3;

    @media (min-width: @tablet-width) {
      position: static;
      margin: auto;
    }
  }
}
