/* stylelint-disable */
.weekly-item {
    padding-top: 28px;

    outline: 1px solid blue;
}

.weekly-item__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    color: @color-text-title;
}

.weekly-item__tag {
    font-weight: bold;
    line-height: 16px;

    margin-bottom: 24px;

    color: @cyan;
}
