/* stylelint-disable */
.weekly-item {
    padding-top: 28px;

    outline: 1px solid blue;

    .content-container;
    display: flex;
    flex-direction: column;
}

.weekly-item__header {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width)  {
    flex-direction: row;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width)  {
    margin-bottom: 35px;

    transform: translateY(159px);
  }
}

.weekly-item__tag {
  margin-bottom: 24px;

  font-weight: bold;
  line-height: 16px;
  color: @cyan;
  text-transform: uppercase;

  @media (min-width: @tablet-width)  {
    width: 125px;
    margin-top: 12px;

    text-align: center;
  }

  @media (min-width: @desktop-width)  {
    margin-top: 15px;
    padding-right: 25px;
    padding-left: 21px;
    //width: 125px;
  }
}



.weekly-item__title {
    margin: 0;
  margin-bottom: 7px;
  padding: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: @color-text-title;

  @media (min-width: @tablet-width)  {
    flex-grow: 1;
    width: 540px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width)  {
    order: 1;

    font-size: 53px;
    line-height: 57px;
  }
}

.weekly-item__content {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    height: 636px;
    padding-left: 175px;
  }
}

.weekly-item__description {
  margin: 0;
  margin-bottom: 17px;

  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    width: 292px;

    font-size: 17px;
    line-height: 30px;

  }

 @media (min-width: @desktop-width) {
    margin-bottom: 49px;
    padding-top: 165px;
}
}

.weekly-item__image {
 width: 260px;
  height: 316px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width)  {
    order: 2;
    width: 333px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
  }
}
