@grey: rgba(68, 68, 68, 1);
@grey-transparent: rgba(68, 68, 68, 0.3);
@color-text-title: rgba(0, 0, 0, 1);
@color-background: rgba(241, 241, 241, 1);
@cyan: rgba(99, 209, 187, 1);
@cyan--dark: rgba(86, 195, 178, 1);
@cyan--transparent: rgba(86, 195, 178, 0.3);

@link-color: @grey;
@link-color--hover: @cyan--dark;
@link-color--active: @cyan--transparent;
@tablet-width: 768px;
@desktop-width: 1150px;
